body {
    font-size: 10px;
    font-family: 'roboto', sans-serif;
    background-color: rgba(156, 154, 43, 0.1);
}

a {
    text-decoration: none;
}

/* header start */
ul {
    list-style-type: none;
}

header {
    background-color: white;
}

.navbar {
    position: sticky;
    justify-content: center;
    height: 50px;
    background-color: rgb(185, 43, 43);
    color: white;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-evenly;
}


.navbar a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(185, 43, 43), rgba(156, 154, 43, 0.933));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size  500ms;
}

.navbar a:visited, .navbar a:active{
    color: white;
}

.navbar a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}
/* header end */

/* main start */
.containerPresentation {
    margin: 20px;
}

.containerVideoLasVegas {
    height: 480px;
    width: 100%;
    background-color: rgb(185, 43, 43);
}

.videoLasVegas {
    width: 100%;
    height: 100%;
}

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;  
}

.textPresentation {
    grid-column: 1/4;
}

.cityInformation {
    grid-row: 2;
    grid-column: 1/3;
}

.containerSign {
    grid-column: 3;
    grid-row: 2/3;
}

.sign {
    height: 100px;
    width: 75px;
    animation: rotate 3s ease-in 1s infinite alternate both;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.title, .titleOrigin, .titleSinCity, .titleLuxe, .titleClimat {
    text-align: center;
    font-size: 1.3rem;
}

.titlePresentation {
    display: none;
}

.text, .cardText {
    text-align: justify;
    font-weight: bold;
    padding: 10px;
}

.colorOr, .textColor, .titlePresentation, .titleOrigin, .titleSinCity, .titleLuxe, .titleClimat, .cardTitle {
    color: rgba(156, 154, 43, 0.933);
}

.originCity, .presentation, .sinCity, .luxe, .climat {
    margin-bottom: 20px;  
    border-bottom: 1px solid rgba(156, 154, 43, 0.933);
}

.doc {
    background-color: white;
}

.card {
    margin: 5px;
}

.card-title {
    text-align: center;
    color: rgba(156, 154, 43, 0.933);
}

.card-text {
    text-align: justify;
}

.containerHotel {
    margin-top: 5px;
    border-bottom: 1px solid rgba(156, 154, 43, 0.933);
}

.imgHotels {
    max-height: 354px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #777;
}

.text {
    margin-left: auto;
    margin-right: auto;
}

.containerDiaporama {
    max-width: 400px;
    margin: 50px auto;
}
.diap {
    width: 100%;
    height: 0px;
    padding-top: 75%;
    background-size: cover;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDED;
    background-size: cover;
}

.diaporamaBellagio {
    animation: fondu 15s ease-in-out infinite both;
}

.diaporamaCesar {
    animation: fondu2 15s ease-in-out infinite both;
}

.diaporamaAria {
    animation: fondu3 15s ease-in-out infinite both;
}

.diaporamaStrat {
    animation: fondu4 15s ease-in-out infinite both;
}

.diap:hover {
    animation-play-state: paused;
}

@keyframes fondu {
    0%{background-image: url("./photos/hotels/bellagio/hall\ d\'accueil.jpg");}
    33.33%{background-image: url("./photos/hotels/bellagio/las-vegas-g43a9d6dce_640.jpg");}
    66.67%{background-image: url("./photos/hotels/bellagio/las-vegas-gd2a7c3fc2_640.jpg");}
    100%{background-image: url("./photos/hotels/bellagio/vegas-g10dbf6270_640.jpg");}
}

@keyframes fondu2 {
    0%{background-image: url("./photos/hotels/cesarPalace/1.jpg");}
    33.33%{background-image: url("./photos/hotels/cesarPalace/2.jpg");}
    66.67%{background-image: url("./photos/hotels/cesarPalace/3.jpg");}
    100%{background-image: url("./photos/hotels/cesarPalace/4.jpg");}
}

@keyframes fondu3 {
    0%{background-image: url("./photos/hotels/Aria/1.jpg");}
    33.33%{background-image: url("./photos/hotels/Aria/2.jpeg");}
    66.67%{background-image: url("./photos/hotels/Aria/3.jpeg");}
    100%{background-image: url("./photos/hotels/Aria/4.jpeg");}
}

@keyframes fondu4 {
    0%{background-image: url("./photos/hotels/strat/1.jpeg");}
    33.33%{background-image: url("./photos/hotels/strat/2.jpeg");}
    66.67%{background-image: url("./photos/hotels/strat/3.webp");}
    100%{background-image: url("./photos/hotels/strat/4.jpeg");}
}

.containerListing {
    margin-top: 5px;
}

.containerListHotel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listHotel {
    grid-column: 1;
}

.listHotel li {
    color: rgb(185, 43, 43);
}

.astuce {
    grid-column: 2;
    border: 1px solid rgba(156, 154, 43, 0.933);
    height: 200px;
    width: 150px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #777;
}

.subTitleAstuce {
    color:rgb(185, 43, 43);
    text-decoration: underline;
    margin-left: 2px;
}

.astuce ol {
    list-style: none;
}

.astuce li::before {
    content: "*";
    color: rgba(156, 154, 43, 0.933);
}

.titleAstuce {
    background-color: rgb(185, 43, 43);
    color: white;
}

.spectacle {
    margin-top: 10px;
}

.containerSpectacle {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(156, 154, 43, 0.933);
}

.containerImg {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
}

.mj {
    background-image: url(./photos/spectacles/MJ.jpeg);
}

.mystere {
    background-image: url(./photos/spectacles/mystere.jpeg);
}

.cooperfield {
    background-image: url(./photos/spectacles/copperfield.jpeg);
}

.o {
    background-image: url(./photos/spectacles/o.jpeg);
}

.mentalist {
    background-image: url(./photos/spectacles/mentalist.jpeg);
}

.beatles {
    background-image: url(./photos/spectacles/beatles.jpeg);
}

.ect {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}

/* main end*/

/* footer start */
footer {
    background-color: rgb(185, 43, 43);
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #3cf;
}

.instagram:hover {
    color: #bd38a0;
}

.social-btns {
    padding: 3px;
    text-align: center;
}

.facebook, .twitter, .instagram {
    margin: 5px;
    color: rgba(156, 154, 43, 0.933);
}

.maker {
    text-align: center;
}

#signature {
    color: rgba(156, 154, 43, 0.933);
    font-family: destroy;
    font-size: 0.5em;
}

#subSignature {
    font-family: destroy;
    font-size: 0.2em;
}

/* media queries */

/* mobile */
@media screen and (min-width: 653px)
{
    .presentation {
        grid-template-rows: 1fr 1fr;
    }

    .end {
        top: 110px;
        height: 150px;
    }

    .group3 {
        margin-bottom: 5px;
    }

    .imgHotels {
        display: flex;
        justify-content: center;
    }
}

/* tablet */
@media screen and (min-width: 768px)
{
    body {
        font-size: 1.1rem;
    }
    .navbar li {
        font-size: 1.5rem;
    }

    .videoLasVegas {
        object-fit: fill;
    }

    .imgOrigin {
        width: 300px;
        height: 200px;
        background-image: url(./photos/usa-g647db55f1_640.jpg);
        background-size: 100% 100%;
        float: left;
        margin-right: 30px;
    }  
    
    .imgSinCity {
        width: 200px;
        height: 200px;
        background-image: url(./photos/roulette.jpg);
        background-size: 100% 100%;
        float: left;
        margin-right: 30px;
    }

    .imgLuxe {
        width: 300px;
        height: 200px;
        background-image: url(./photos/swimming-pool-g2bd62847e_640.jpg);
        background-size: 100% 100%;
        float: right;
        margin-left: 30px;
    }

    .imgClimat {
        width: 400px;
        height: 300px;
        background-image: url(./photos/climat.jpg);
        background-size: 100% 100%;
        float: right;
        margin-left: 30px;
    }

    .end {
        top: 200px;
    }

    .titleAstuce {
        font-size: 1.5rem;
    }

    .astuce {
        height: 360px;
        width: 200px;
    }

    .img {
        height: 200px;
        width: 250px;
    }
}

/* large screen */
@media screen and (min-width: 1024px)
{
    body {
        font-size: 1.2em;
    }

    .containerVideoLasVegas {
        height: 800px;
    }

    .videoLasVegas {
        object-fit: fill;
    }
    
    .container-img {
        text-align: center;
    }

    .containerDoc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }

    .containerSign {
        grid-column: 2/4;
    }

    .sign {
        height: 200px;
        width: 200px;
    }

    .originCity, .luxe {
        padding-right: 15px;
    }

    .presentation {
        border-bottom: none;
    }

    .doc {
        border-bottom: none;
        border-top: 1px solid rgba(156, 154, 43, 0.933);
    }

    .astuce {
        height: 400px;
        width: 250px;
    }

    .containerSpectacle {
        display: flex;
    }

    .img {
        margin-bottom: 5px;
    }

    .lastArticle {
        border-bottom: none;
    }
}

/*======== MODAL START =========================*/

.modal-content {
    background-color: #090909;
}

.linkedin:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #3cf;
}

.instagram:hover {
    color: #bd38a0;
}

.social-btns {
    padding: 3px;
    text-align: center;
}

.linkedin, .twitter, .instagram {
    margin: 5px;
    color: rgba(156, 154, 43, 0.933);
}

#containerButtonClose {
    display: flex;
    justify-content: center;
}

#buttonClose {
    width: 100px;
    margin-top: 50px;
    color: rgba(156, 154, 43, 0.933);
}